@font-face {
    font-family: 'Comic';
    src: local('Comic Sans MS'), local('ComicSansMS'),
        url('../fonts/ComicSansMS.woff2') format('woff2'),
        url('../fonts/ComicSansMS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times';
    src: local('Times New Roman Cyr Bold Italic'), local('TimesNRCyrMT-BoldInclined'),
        url('../fonts/TimesNRCyrMT-BoldInclined.woff2') format('woff2'),
        url('../fonts/TimesNRCyrMT-BoldInclined.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}


