@font-face {
  font-family: 'icon';
  src:
    url('../iconfont/icon.woff?gknw6q') format('woff'),
    url('../iconfont/icon.svg?gknw6q#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, 
[class*=" icon-"]::before {
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 5rem;
  margin-right: 1rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-insta::before {
  content: "\e900";
}

.icon-teleg::before {
  content: "\e901";
}

.icon-whats::before {
  content: "\e902";
}
