/* обнуление стилей */

*{padding:0;margin:0;border:0;}
*,*::before,*::after{box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400;}

/*==================*/

html {
	background-color: #d598de;
	font-size: 10px;
	color: #000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.title {
	/* text-align: center; */
	font-size: 2rem;
	text-transform: uppercase;
	margin: 3rem auto;
	color: #fff;
}
.subtitle {
	color: #fff;
	font-size: 2rem;
	font-style: italic;
	margin: 3rem auto 1rem;
}

.menu {
	/* position: fixed;
	top: 0; */
	width: 90%;
	height: 5rem;
	background-color: #c179cc;
	/* padding: 1.7rem; */
	/* border-radius: 5rem; */
	margin: 1rem auto 5rem;
	transform: skew(-30deg);
	/* transform: skewX(-30deg); */

}
.menu ul {
	display: flex;
	/* justify-content: space-around; */
	/* border: 1px solid #fff; */
	/* height: 100%; */
	/* font-size: 1.5rem;
	text-transform: uppercase; */
}
.menu li {
	width: 20%;
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
	height: 5rem;
	/* border: 1px solid #fff; */
	padding: 1.7rem;
}
.menu li span {
	display: inline-block;
	transform: skew(30deg);
}
.menu li:hover {
	border: 1px solid #fff;
}
.menu li a {
	/* color: #666; */
	color: #fff;

}
.menu a:hover {
	color: #fff;
}


.about {
	width: 90%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 auto 5rem;
	/* justify-content: space-between; */
	/* background-color: #c179cc; */
	/* border-radius: 5rem; */
	/* transform: skew(-20deg); */
}
.about__photo {
	width: 20rem;
	margin: 1rem;
	/* border-radius: 10px; */
	transform: skew(-10deg);
}
.about__photo img{
	width: 100%;
	/* border-radius: 5rem; */
	opacity: 0.5;
	/* transform: skew(15deg); */
}
.about__title {
	font-size: 3rem;
	/* vertical-align: middle; */
	margin-bottom: 2rem;
}
.about__greet {
	font-style: italic;
	font-size: 2rem;
	text-align: center;
	/* padding: 2rem; */
	line-height: 3.7rem;
}


.price {
	width: 90%;
	margin: 0 auto 5rem;
	text-align: center;
}
.price__title {

}
.price__item {}
.price__tab {
	display: flex;
	justify-content: space-between;
	/* align-content: center; */
	height: 5rem;
	line-height: 5rem;
	
	padding: 0 2rem;
	margin-bottom: 1rem;

	background-color: #c179cc;
	transform: skew(-30deg);
}
/* .price__symb::after {
	content: '\02795';
	margin-left: 5px;
	transform: skewX(30deg);
}
.price__symb .active::after {
	content: '\2796';
} */
/* .active::after {
	content: '\2796';
} */
/* .price__item .active .price__symb::after {
	content: '\2796';
} */

/* .price__heading:hover {
	color: #fff;
} */
.price__tab span {
	/* display: inline-block; */
	transform: skewX(30deg);
	font-size: 2rem;
}
.price__tab .price__symb {
	font-size: 3rem;
	/* vertical-align: center; */
	/* margin-top: -1.15rem; */
	/* font-weight: 900; */
}
.price__tab:hover {
	color: #fff;
	cursor: pointer;

}
/* .price__heading a {
	color: #666;
	font-weight: 900; */
	/* font-size: 3rem;
	padding-top: 10rem; */
/* }
.price__heading span a:hover {
	color: #fff;
} */
.price__item:not(.active) .price__descr{
	display: none;
}
.price__descr {
	width: 60%;
	/* margin: 0 auto; */
	font-size: 2rem;
	line-height: 3rem;
	margin: 2rem auto;
}
/* .price__item .price__descr {
	border: 1px dashed gray;
	border-top: none;

	padding: 10px;
	height: 300px;
} */
.price__text {
	font-style: italic;
	font-size: 1.8rem;
	/* text-align: center; */
	/* padding: 2rem; */
	line-height: 3.7rem;
	/* text-align: center; */
}
.price__subtitle {}
