@charset "UTF-8";
/*=================обнуление стилей */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*=============================*/
html {
  font-size: 10px;
  font-family: "Comic", sans-serif;
  scroll-behavior: smooth;
}

section:nth-child(even) {
  background-color: rgba(102, 102, 102, 0.5);
}

section:nth-child(odd) {
  background-color: rgba(85, 238, 0, 0.5);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.content {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  line-height: 3rem;
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  padding: 5rem 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5rem;
}

.subtitle {
  font-style: italic;
  text-align: center;
  margin-bottom: 2rem;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5rem;
  line-height: 5rem;
  padding: 0 5rem;
  margin-bottom: 2rem;
  background-color: #bb41ce;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 1rem 1rem 1rem 0.5rem #fff;
          box-shadow: 1rem 1rem 1rem 0.5rem #fff;
}
.tab:hover {
  color: #fff;
  cursor: pointer;
}
.tab_active {
  color: #fff;
}
.tab span {
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
}
.tab__symb {
  font-size: 3rem;
}

.menu {
  height: 5rem;
  margin: -2rem auto 0;
  background-color: #bb41ce;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  -webkit-box-shadow: 1rem 1rem 1rem 0.5rem #666;
          box-shadow: 1rem 1rem 1rem 0.5rem #666;
}
.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item {
  width: 20%;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
}
.menu__item:hover {
  border: 2px solid #fff;
}
.menu__item span {
  display: inline-block;
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
  width: 100%;
}
.menu__item a {
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
  -ms-grid-columns: (auto)[2];
      grid-template: repeat(2, auto)/repeat(2, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 3.5rem;
  font-size: 2rem;
  margin: 11rem auto 9rem;
}
.about__photo {
  -ms-grid-row: span 2;
      grid-row-start: span 2;
  width: 350px;
  opacity: 0.9;
  -webkit-box-shadow: 1rem 1rem 1rem 0.5rem #666;
          box-shadow: 1rem 1rem 1rem 0.5rem #666;
  border: 5px inset #fff;
}
.about__photo img {
  max-width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__greet {
  margin-top: 7rem;
}
.about__heading {
  width: 52rem;
  text-shadow: 0.1px 0.1px 0.1px #333;
  font-family: "Times", serif;
  font-style: italic;
  letter-spacing: 0.17rem;
  color: #851297;
}
.about__heading_left {
  font-size: 4rem;
  font-weight: 700;
  text-align: left;
}
.about__heading__devider {
  width: 90%;
  height: 1px;
  margin: 0.7rem auto -0.3rem;
  background-color: #851297;
}
.about__heading_right {
  font-size: 3rem;
  font-weight: 700;
  text-align: right;
}

.swiper {
  margin: 1rem auto;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.swiper__btn {
  font-size: 5rem;
  color: #fff;
}

.swiper-wrapper {
  padding: 3rem 0 7rem;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.block {
  margin-bottom: 1rem;
  overflow: hidden;
}
.block:last-child {
  margin-bottom: 0;
}
.block span {
  position: relative;
  left: 100%;
}
.block__name {
  color: #bb41ce;
}
.block__text {
  margin-left: 2rem;
}
.block__link {
  font-style: italic;
  text-align: right;
}
.block__link a {
  color: #bb41ce;
}
.block_animated {
  -webkit-animation: moveLeft both;
          animation: moveLeft both;
}

.price__title {
  margin-bottom: 2rem;
}
.price__text {
  margin-bottom: 5rem;
}
.price__descr {
  max-height: 0;
  overflow: hidden;
  margin: 1rem auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contacts p {
  text-align: center;
}
.contacts a {
  color: #851297;
  font-style: italic;
}
.contacts__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5rem 0;
  margin-bottom: 2rem;
}
.contacts .icon-insta::before {
  color: #dd2a7b;
}
.contacts .icon-teleg::before {
  color: #00bfff;
}
.contacts .icon-whats::before {
  color: #00bb2d;
}
.contacts__link {
  text-align: center;
}
.form {
  max-width: 50rem;
  margin: 0 auto;
  padding: 5rem 0;
}
.form__body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background: rgba(187, 65, 206, 0.7) url("../img/loader.gif") center/10rem no-repeat;
  opacity: 0;
  visibility: hidden;
}
.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}
.form__item {
  margin-bottom: 2rem;
}
.form__label {
  display: block;
  margin-bottom: 10px;
}
.form__label span {
  color: #851297;
  font-size: 2rem;
}
.form__input {
  width: 100%;
  height: 5rem;
  padding: 0 20px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0.5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.form__input:focus, .form .select:focus {
  -webkit-box-shadow: 0 0 15px #851297;
          box-shadow: 0 0 15px #851297;
}
.form .options__item {
  display: inline-block;
  margin: 0 5.5rem;
}
.form .options__input {
  display: none;
}
.form .options__input:checked + .options__label::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.form .options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}
.form .options__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 50%;
  margin-right: 10px;
}
.form .options__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #bb41ce;
  border-radius: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.form .select {
  height: 5rem;
  width: 100%;
  border-radius: 2px;
  font-family: inherit;
  padding: 0 20px;
  cursor: pointer;
  background-color: #fff;
  opacity: 0.5;
}
.form .select:selected {
  background-color: inherit;
}
.form textarea.form__input {
  min-height: 20rem;
  resize: vertical;
  border-radius: 2px;
  padding: 20px;
}
.form__btn {
  width: 70%;
  margin: 6rem auto 0;
  display: block;
  height: 5rem;
  background-color: #bb41ce;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-box-shadow: 1rem 1rem 1rem 0.5rem #fff;
          box-shadow: 1rem 1rem 1rem 0.5rem #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  position: relative;
  top: 0;
}
.form__btn span {
  display: inline-block;
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
}
.form__btn:active {
  top: 3px;
  -webkit-box-shadow: -1rem -1rem 1rem 0.5rem #fff;
          box-shadow: -1rem -1rem 1rem 0.5rem #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(187, 65, 206, 0.7);
  -webkit-animation: fade 0.7s;
          animation: fade 0.7s;
}
.overlay:not(.active) {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 45rem;
  padding: 3rem;
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: fromTop 0.7s;
          animation: fromTop 0.7s;
}
.modal__close {
  position: absolute;
  top: 0;
  right: -4rem;
  font-size: 25px;
  line-height: 2.5rem;
  font-weight: 700;
  color: #f00;
  cursor: pointer;
}
.pageup {
  width: 35px;
  height: 28px;
  position: fixed;
  bottom: 10px;
  right: 9px;
  opacity: 0.6;
  z-index: 9;
}
.pageup:not(.active) {
  display: none;
}
.pageup span {
  display: inline-block;
  background-color: #fff;
}
.pageup_lg {
  width: 100%;
}
.pageup_lg span {
  width: 50%;
  height: 4px;
}
.pageup_lg_left {
  -webkit-transform: translateX(3.2px) rotate(-35deg) skew(-35deg);
          transform: translateX(3.2px) rotate(-35deg) skew(-35deg);
}
.pageup_lg_right {
  -webkit-transform: rotate(35deg) skew(35deg);
          transform: rotate(35deg) skew(35deg);
}
.pageup_sm {
  width: 70%;
  margin: -4px auto 0;
}
.pageup_sm span {
  width: 50%;
  height: 3px;
}
.pageup_sm_left {
  -webkit-transform: translateX(3px) rotate(-35deg) skew(-35deg);
          transform: translateX(3px) rotate(-35deg) skew(-35deg);
}
.pageup_sm_right {
  -webkit-transform: rotate(35deg) skew(35deg);
          transform: rotate(35deg) skew(35deg);
}

@-webkit-keyframes fromTop {
  from {
    top: -100%;
  }
  to {
    top: 50%;
  }
}

@keyframes fromTop {
  from {
    top: -100%;
  }
  to {
    top: 50%;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes moveLeft {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes moveLeft {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@media (max-width: 1250px) {
  html {
    font-size: calc(6px + (10 - 6) * ((100vw - 320px) / (1200 - 320)));
  }

  .container {
    width: calc(100% - (100 - 90) * ((100vw - 320px) / (1200 - 320)));
  }

  .about {
    text-align: center;
    -ms-grid-rows: (auto)[3];
    -ms-grid-columns: (100%)[1];
        grid-template: repeat(3, auto)/repeat(1, 100%);
    margin: 5rem auto 0;
  }
  .about__photo {
    width: calc(250px + (350 - 250) * ((100vw - 320px) / (1200 - 320)));
  }
  .about__heading {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 auto;
    width: calc(45rem + (52 - 45) * ((100vw - 320px) / (1200 - 320)));
  }
  .about__photo {
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    margin: 5rem auto;
  }
  .about__greet {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .about {
    margin-top: -1rem;
  }

  .tab {
    font-size: 2.5rem;
  }

  .tab:hover {
    color: #000;
  }

  .tab_active {
    color: #fff !important;
  }

  .swiper__btn {
    display: none;
  }

  .modal {
    font-size: 2.5rem;
  }

  .menu {
    position: fixed;
    margin: 0;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    -webkit-transform: skew(0);
            transform: skew(0);
    padding: 15rem 7rem;
    z-index: 10;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .menu_active {
    right: 0;
  }
  .menu__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__item {
    width: 100%;
    text-align: left;
    margin-top: 1rem;
    opacity: 0.8;
  }
  .menu__item:hover {
    border: none;
  }
  .menu__item span {
    display: inline-block;
    -webkit-transform: skew(0);
            transform: skew(0);
    font-size: 2rem;
  }

  .burger {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 10;
    opacity: 0.6;
    width: 30px;
    height: 30px;
  }
  .burger span {
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 5px;
    background-color: #fff;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .burger_active span {
    margin-bottom: -5px;
  }
  .burger_active span:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-45deg) skew(-40deg);
            transform: translateY(8px) rotate(-45deg) skew(-40deg);
  }
  .burger_active span:nth-child(2) {
    display: none;
  }
  .burger_active span:nth-child(3) {
    -webkit-transform: translateY(4px) rotate(45deg) skew(40deg);
            transform: translateY(4px) rotate(45deg) skew(40deg);
  }
}