.about {
	display: grid;
	grid-template: repeat(2, auto) / repeat(2, auto);
	justify-content: space-between;
	line-height: 3.5rem;
	font-size: 2rem;
	margin: 11rem auto 9rem;
	&__photo {
		grid-row-start: span 2;
		width: 350px;
		opacity: 0.9;
		box-shadow: 1rem 1rem 1rem 0.5rem $shd;
		border: 5px inset $fc-act;
		& img {
			max-width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}
	&__greet {
		margin-top: 7rem;
	}
	&__heading {
		width: 52rem;
		text-shadow: 0.1px 0.1px 0.1px#333;
		font-family: 'Times', serif;
		font-style: italic;
		letter-spacing: 0.17rem;
		color: $fc-tit;
		&_left {
			font-size: 4rem;
			font-weight: 700;
			text-align: left;
		}
		&__devider {
			width: 90%;
			height: 1px;
			margin: 0.7rem auto -0.3rem;
			background-color: $fc-tit;
		}
		&_right {
			font-size: 3rem;
			font-weight: 700;
			text-align: right;
		}
	}
}

