.contacts {
	& p {
		text-align: center;
	}
	& a {
		color: $fc-tit;
		font-style: italic;
	}
	&__title {
		// margin-bottom: 2rem;
	}
	&__links {
		display: flex;
		justify-content: space-evenly;
		padding: 5rem 0;
		margin-bottom: 2rem;
	}
	& .icon-insta::before {
		color: #dd2a7b;
	}
	& .icon-teleg::before {
		color: #00bfff;
	}
	& .icon-whats::before {
		color: #00bb2d;
	}
	&__link {
		text-align: center;
	}
	&__form {}
}

.form {
	max-width: 50rem;
	margin: 0 auto;
	padding: 5rem 0;
	&__body {
		&::after {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 11;
			background: rgba(187, 65, 206, 0.7) url('../img/loader.gif') center / 10rem no-repeat;
			opacity: 0;
			visibility: hidden;
		}
		&._sending::after {
			opacity: 1;
			visibility: visible;
		}
	}
	&__item {
		margin-bottom: 2rem;
	}
	&__label {
		display: block;
		margin-bottom: 10px;
		& span {
			color: $fc-tit;
			font-size: 2rem;
		}
	}
	&__input {
		width: 100%;
		height: 5rem;
		padding: 0 20px;
		border-radius: 2px;
		background-color: $fc-act;
		opacity: 0.5;
		transition: all 0.5s ease 0s;
	}
	&__input:focus, .select:focus {
		box-shadow: 0 0 15px $fc-tit;
	}
	& .options {
		&__item {
			display: inline-block;
			margin: 0 5.5rem;
		}
		&__input {
			display: none;
			&:checked + .options__label::after {
				transform: scale(1);
			}
		}
		&__label {
			display: inline-flex;
			align-items: center;
			position: relative;
			cursor: pointer;
			&::before {
				content: '';
				align-self: flex-start;
				flex: 0 0 24px;
				height: 24px;
				background-color: $fc-act;
				opacity: 0.5;
				border-radius: 50%;
				// border-radius: 2px;
				margin-right: 10px;
			}
			&::after {
				content: '';
				position: absolute;
				top: 4px;
				left: 4px;
				width: 16px;
				height: 16px;
				background-color: $bgc;
				// border-radius: 50%;
				border-radius: 2px;
				transform: scale(0);
				transition: transform 0.5s ease 0s;
			}
		}
	}
	& .select {
		height: 5rem;
		width: 100%;
		border-radius: 2px;
		font-family: inherit;
		padding: 0 20px;
		cursor: pointer;
		background-color: $fc-act;
		opacity: 0.5;
		&:selected {
			background-color: inherit;
		}
	}
	& textarea.form__input {
		min-height: 20rem;
		resize: vertical;
		border-radius: 2px;
		padding: 20px;
	}
	&__btn {
		width: 70%;
		margin: 6rem auto 0;
		display: block;
		height: 5rem;
		background-color: $bgc;
		color: $fc-act;
		text-transform: uppercase;
		cursor: pointer;
		box-shadow: 1rem 1rem 1rem 0.5rem $fc-act;
		transition: all 0.3s ease 0s;
		transform: skew(-30deg);
		position: relative;
		top: 0;
		& span {
			display: inline-block;
			transform: skew(30deg);
		}
		&:active {
			top: 3px;
			box-shadow: -1rem -1rem 1rem 0.5rem $fc-act;
		}
	}
}