.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 11;
	background-color: rgba(187, 65, 206, 0.7);
	animation: fade 0.7s;
	&:not(.active) {
		display: none;
	}
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 45rem;
	padding: 3rem;
	text-align: center;
	font-size: 2rem;
	line-height: 4rem;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.5);
	animation: fromTop 0.7s;
	&__close {
		position: absolute;
		top: 0;
		right: -4rem;
		font-size: 25px;
		line-height: 2.5rem;
		font-weight: 700;
		color: #f00;
		cursor: pointer;
	}
	&__text {}
}