.pageup {
	width: 35px;
	height: 28px;
	position: fixed;
	bottom: 10px;
	right: 9px;
	opacity: 0.6;
	z-index: 9;
	&:not(.active) {
		display: none;
	}
	& span {
		display: inline-block;
		background-color: $fc-act;
	}
	&_lg {
		width: 100%;
		& span {
			width: 50%;
			height: 4px;
		}
	}
	&_lg_left {
		transform: translateX(3.2px) rotate(-35deg) skew(-35deg);
	}
	&_lg_right {
		transform: rotate(35deg) skew(35deg);
	}
	&_sm {
		width: 70%;
		margin: -4px auto 0;
		& span {
			width: 50%;
			height: 3px;
		}
	}
	&_sm_left {
		transform: translateX(3px) rotate(-35deg) skew(-35deg);
	}
	&_sm_right {
		transform: rotate(35deg) skew(35deg);
	}
}