.block {
	margin-bottom: 1rem;
	overflow: hidden;
	&:last-child {
		margin-bottom: 0;
	}
	& span {
		position: relative;
		left: 100%;
	}
	&__name {
		color: $bgc;
	}
	&__text {
		margin-left: 2rem;
	}
	&__link {
		font-style: italic;
		text-align: right;
		& a {
			color: $bgc;
		}
	}
	&_animated {
		animation: moveLeft both;
	}
}
