.swiper {
	margin: 1rem auto;
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s;
	&__btn {
		font-size: 5rem;
		color: $fc-act;
	}
}
.swiper-wrapper {
	padding: 3rem 0 7rem;
}
.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
}
.swiper-pagination-bullet-active {
	background-color: $fc-act;
}
.swiper-button-prev::after,
.swiper-button-next::after {
	display: none;
}
